
#container-tablero{
    max-width: 500px;
    margin: 0 auto;
}
 
#tablero{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
 
.casilla{
    border: 2px solid rgb(18, 8, 20);
    margin: 5px;
    width: 140px;
    height: 140px;
    padding: 20px;
    justify-content: center; 
    align-items: center; 
}

