
#jugadorA, #jugadorB {
    border: 4px;
    border-color: black;
    border-style: solid;   
}

#jugadorA {
    float: left;
    margin-left: 200px;
}

#jugadorB {
    float: right;
    margin-right: 200px;
}

#tablero {
    border: 6px;
    border-color: black;
    border-style: solid;
    position: absolute;
    left: 40%;
    width: 200px; 
    height: 400px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.casilla {
    border: 1xp;
    border-color: black;
    border-style: solid;
    width: 50px;
    height: 50px;
    margin: 5px;
}
#victoriasA, #victoriasB{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size: 20px;
}